<div class="bg-gray-100">
  <header class="max-w-screen-xl mx-auto px-4 lg:px-8 py-4 flex justify-between mb-6">
    {{ if .IsHome }}
    <div>
      <span class="text-lg font-semibold block">{{ .Site.Title }}</span>
      {{ with .Site.Params.slogan}}
        <span class="text-gray-700 text-sm italic">{{ . }}</span>
      {{ end}}
    </div>
    {{ else }}
    <a href="/">
      <span class="text-lg font-semibold block">{{ .Site.Title }}</span>
      {{ with .Site.Params.slogan}}
      <span class="text-gray-700 text-sm italic">{{ . }}</span>
      {{ end }}
    </a>
    {{ end }}
    <nav>
      Main nav
    </nav>
  </header>
</div>